html, body { height: 100%; }

body { margin: 0; font-family: "Inter"; }

.first-color { 
	background: #ffcbcb; 
}
	
.second-color { 
	background: #ffb5b5; 
}

.third-color { 
	background: #407088; 
}

.fourth-color { 
	background: #132743; 
}